

body {
    font-family: arial;

    font-size: 20px;
}

.allergy {
    font-weight: bold;
}

#select-burger {
    background-color: #000000;
    color: #FFFFFF;
    
}

#customer-information {
    
}

button:hover {
    background-color: #DC143C;
    cursor: pointer;
}
