

body {
    font-family: arial;

    font-size: 20px;

    margin: 0 auto
}

.allergy {
    font-weight: bold;
}

#select-burger {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px dashed #FFFFFF;
    margin: 5px 10px;
    padding-left: 10px;
    
}

#customer-information {
    border: 2px dashed #000000;
    margin: 5px 10px;
    padding-left: 10px;
}

button {
    margin: 10px 10px;
}

button:hover {
    background-color: #DC143C;
    cursor: pointer;
}

table {
    width: 100%;
    margin: 0 auto
}

#heading {
    margin: 5px 10px;
    height: 500px;
    width: auto;
    overflow: hidden;
}

#header-image {
    opacity: 0.2;
    width: 100%;
    height: auto;
}

#header-text {
    position: absolute;
    padding: 200px 750px;
}

.selection {
    display: grid;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
}

.name-cheeky-chicken-burger {
    grid-column: 1;
    grid-row: 1;
}
.img-cheeky-chicken-burger {
    grid-column: 1;
    grid-row: 2;
}
.info-cheeky-chicken-burger {
    grid-column: 1;
    grid-row: 3;
}

.name-giga-burger {
    grid-column: 2;
    grid-row: 1;
}
.img-giga-burger {
    grid-column: 2;
    grid-row: 2;
}
.info-giga-burger {
    grid-column: 2;
    grid-row: 3;
}

.name-cheese-burger {
    grid-column: 3;
    grid-row: 1;
}
.img-cheese-burger {
    grid-column: 3;
    grid-row: 2;
}
.info-cheese-burger {
    grid-column: 3;
    grid-row: 3;
}
