

body {
    font-family: arial;

    font-size: 20px;

    margin: 0 auto
}

.allergy {
    font-weight: bold;
}

#select-burger {
    background-color: #000000;
    color: #FFFFFF;
    
}

#customer-information {
    
}

section {
    margin: 5px 10px;
}

button {
    margin: 10px 10px;
}

button:hover {
    background-color: #DC143C;
    cursor: pointer;
}

table {
    width: 101%;
    margin: 0 auto
}
